service-stubs/governance/org.wso2.carbon.governance.gadgets.stub/src/main/resources/GovImpactAnalysisAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://services.impactanalysis.gadgets.governance.carbon.wso2.org" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax297="http://exception.api.governance.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2100="http://beans.impactanalysis.gadgets.governance.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.impactanalysis.gadgets.governance.carbon.wso2.org">
    <wsdl:documentation>GovImpactAnalysisAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2101="http://beans.impactanalysis.gadgets.governance.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax299="http://exception.api.governance.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exception.api.governance.carbon.wso2.org/xsd" />
            <xs:import namespace="http://beans.impactanalysis.gadgets.governance.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:all>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:all>
            </xs:complexType>
            <xs:element name="GovernanceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GovernanceException" nillable="true" type="ax297:GovernanceException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getImpactAnalysisBeanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2100:ImpactBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.impactanalysis.gadgets.governance.carbon.wso2.org/xsd">
            <xs:complexType name="ImpactBean">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceBean" nillable="true" type="ax2100:ServiceBean" />
                </xs:all>
            </xs:complexType>
            <xs:complexType name="ServiceBean">
                <xs:all>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyBeans" nillable="true" type="ax2100:PolicyBean" />
                    <xs:element minOccurs="0" name="qName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="schemaBeans" nillable="true" type="ax2100:SchemaBean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlBeans" nillable="true" type="ax2100:WSDLBean" />
                </xs:all>
            </xs:complexType>
            <xs:complexType name="PolicyBean">
                <xs:all>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="qName" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
            <xs:complexType name="SchemaBean">
                <xs:all>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="qName" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
            <xs:complexType name="WSDLBean">
                <xs:all>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attachedPolicies" nillable="true" type="ax2100:PolicyBean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attachedSchemas" nillable="true" type="ax2100:SchemaBean" />
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="qName" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax298="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.api.governance.carbon.wso2.org/xsd">
            <xs:import namespace="http://org.apache.axis2/xsd" />
            <xs:complexType name="GovernanceException">
                <xs:complexContent>
                    <xs:extension base="ax298:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getImpactAnalysisBeanRequest" />
    <wsdl:message name="getImpactAnalysisBeanResponse">
        <wsdl:part name="parameters" element="ns1:getImpactAnalysisBeanResponse" />
    </wsdl:message>
    <wsdl:message name="GovernanceException">
        <wsdl:part name="parameters" element="ns1:GovernanceException" />
    </wsdl:message>
    <wsdl:portType name="GovImpactAnalysisAdminServicePortType">
        <wsdl:operation name="getImpactAnalysisBean">
            <wsdl:input message="axis2:getImpactAnalysisBeanRequest" wsaw:Action="urn:getImpactAnalysisBean" />
            <wsdl:output message="axis2:getImpactAnalysisBeanResponse" wsaw:Action="urn:getImpactAnalysisBeanResponse" />
            <wsdl:fault message="axis2:GovernanceException" name="GovernanceException" wsaw:Action="urn:getImpactAnalysisBeanGovernanceException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GovImpactAnalysisAdminServiceSoap11Binding" type="axis2:GovImpactAnalysisAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getImpactAnalysisBean">
            <soap:operation soapAction="urn:getImpactAnalysisBean" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GovernanceException">
                <soap:fault use="literal" name="GovernanceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GovImpactAnalysisAdminServiceSoap12Binding" type="axis2:GovImpactAnalysisAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getImpactAnalysisBean">
            <soap12:operation soapAction="urn:getImpactAnalysisBean" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GovernanceException">
                <soap12:fault use="literal" name="GovernanceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GovImpactAnalysisAdminServiceHttpBinding" type="axis2:GovImpactAnalysisAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getImpactAnalysisBean">
            <http:operation location="getImpactAnalysisBean" />
            <wsdl:input>
                <mime:content type="text/xml" part="getImpactAnalysisBean" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getImpactAnalysisBean" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GovImpactAnalysisAdminService">
        <wsdl:port name="GovImpactAnalysisAdminServiceHttpsSoap11Endpoint" binding="axis2:GovImpactAnalysisAdminServiceSoap11Binding">
            <soap:address location="https://192.168.0.16:9443/services/GovImpactAnalysisAdminService.GovImpactAnalysisAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GovImpactAnalysisAdminServiceHttpsSoap12Endpoint" binding="axis2:GovImpactAnalysisAdminServiceSoap12Binding">
            <soap12:address location="https://192.168.0.16:9443/services/GovImpactAnalysisAdminService.GovImpactAnalysisAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GovImpactAnalysisAdminServiceHttpsEndpoint" binding="axis2:GovImpactAnalysisAdminServiceHttpBinding">
            <http:address location="https://192.168.0.16:9443/services/GovImpactAnalysisAdminService.GovImpactAnalysisAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
