service-stubs/governance/org.wso2.carbon.governance.gadgets.stub/src/main/resources/ResourceImpactAdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
 ~ Copyright (c) 2009-2011, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.resourceimpact.gadgets.governance.carbon.wso2.org" xmlns:ax2181="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2185="http://beans.resourceimpact.gadgets.governance.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2182="http://api.registry.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.resourceimpact.gadgets.governance.carbon.wso2.org"> 
    <wsdl:documentation>ResourceImpactAdminService</wsdl:documentation> 
    <wsdl:types> 
        <xs:schema xmlns:ax2184="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2186="http://beans.resourceimpact.gadgets.governance.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd"> 
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" /> 
            <xs:import namespace="http://beans.resourceimpact.gadgets.governance.carbon.wso2.org/xsd" /> 
            <xs:element name="ResourceImpactAdminServiceRegistryException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2181:RegistryException" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getAssociations"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" /> 
                        <xs:element minOccurs="0" name="reverse" type="xs:boolean" />
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getAssociationsResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2185:AssociationBean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
        <xs:schema xmlns:ax2183="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd"> 
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd" /> 
            <xs:complexType name="RegistryException"> 
                <xs:complexContent> 
                    <xs:extension base="ax2183:RegistryException"> 
                        <xs:sequence /> 
                    </xs:extension> 
                </xs:complexContent> 
            </xs:complexType> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.resourceimpact.gadgets.governance.carbon.wso2.org/xsd"> 
            <xs:complexType name="AssociationBean"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="associationType" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="destinationPath" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string" /> 
                </xs:sequence> 
            </xs:complexType> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd"> 
            <xs:complexType name="RegistryException"> 
                <xs:sequence /> 
            </xs:complexType> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="getAssociationsRequest"> 
        <wsdl:part name="parameters" element="ns1:getAssociations" /> 
    </wsdl:message> 
    <wsdl:message name="getAssociationsResponse"> 
        <wsdl:part name="parameters" element="ns1:getAssociationsResponse" /> 
    </wsdl:message> 
    <wsdl:message name="ResourceImpactAdminServiceRegistryException"> 
        <wsdl:part name="parameters" element="ns1:ResourceImpactAdminServiceRegistryException" /> 
    </wsdl:message> 
    <wsdl:portType name="ResourceImpactAdminServicePortType"> 
        <wsdl:operation name="getAssociations"> 
            <wsdl:input message="tns:getAssociationsRequest" wsaw:Action="urn:getAssociations" /> 
            <wsdl:output message="tns:getAssociationsResponse" wsaw:Action="urn:getAssociationsResponse" /> 
            <wsdl:fault message="tns:ResourceImpactAdminServiceRegistryException" name="ResourceImpactAdminServiceRegistryException" wsaw:Action="urn:getAssociationsResourceImpactAdminServiceRegistryException" /> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="ResourceImpactAdminServiceSoap11Binding" type="tns:ResourceImpactAdminServicePortType"> 
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="getAssociations"> 
            <soap:operation soapAction="urn:getAssociations" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="ResourceImpactAdminServiceRegistryException"> 
                <soap:fault use="literal" name="ResourceImpactAdminServiceRegistryException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="ResourceImpactAdminServiceSoap12Binding" type="tns:ResourceImpactAdminServicePortType"> 
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="getAssociations"> 
            <soap12:operation soapAction="urn:getAssociations" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="ResourceImpactAdminServiceRegistryException"> 
                <soap12:fault use="literal" name="ResourceImpactAdminServiceRegistryException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="ResourceImpactAdminServiceHttpBinding" type="tns:ResourceImpactAdminServicePortType"> 
        <http:binding verb="POST" /> 
        <wsdl:operation name="getAssociations"> 
            <http:operation location="getAssociations" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="ResourceImpactAdminService"> 
        <wsdl:port name="ResourceImpactAdminServiceHttpsSoap11Endpoint" binding="tns:ResourceImpactAdminServiceSoap11Binding"> 
            <soap:address location="https://10.100.0.32:9443/services/ResourceImpactAdminService.ResourceImpactAdminServiceHttpsSoap11Endpoint/" /> 
        </wsdl:port> 
        <wsdl:port name="ResourceImpactAdminServiceHttpsSoap12Endpoint" binding="tns:ResourceImpactAdminServiceSoap12Binding"> 
            <soap12:address location="https://10.100.0.32:9443/services/ResourceImpactAdminService.ResourceImpactAdminServiceHttpsSoap12Endpoint/" /> 
        </wsdl:port> 
        <wsdl:port name="ResourceImpactAdminServiceHttpsEndpoint" binding="tns:ResourceImpactAdminServiceHttpBinding"> 
            <http:address location="https://10.100.0.32:9443/services/ResourceImpactAdminService.ResourceImpactAdminServiceHttpsEndpoint/" /> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>
