service-stubs/governance/org.wso2.carbon.governance.wsdltool.stub/src/main/resources/WSDLToolService.wsdl

<!--
 ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.wsdltool.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2208="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2209="http://api.registry.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2212="http://beans.wsdltool.governance.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.wsdltool.governance.carbon.wso2.org">
    <wsdl:documentation>WSDLToolService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.wsdltool.governance.carbon.wso2.org/xsd">
            <xs:complexType name="ServiceInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="ownerAddress" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="ownerEmail" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="ownerName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="ownerTelephone" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="wsdlURL" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2210="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"></xs:import>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2210:RegistryException">
                        <xs:sequence></xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2211="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2213="http://beans.wsdltool.governance.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.wsdltool.governance.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://beans.wsdltool.governance.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="WSDLToolServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WSDLToolServiceException" nillable="true" type="ns:Exception"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getMembraneDiffArrayResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resource1RegPath" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="resource2RegPath" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembraneDiffArrayResultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WSDLToolServiceRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2211:RegistryException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDiffViewType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resourcePath1" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="resourcePath2" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDiffViewTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMEXService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="serviceInfo" nillable="true" type="ax2213:ServiceInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMembraneDiffArrayResultRequest">
        <wsdl:part name="parameters" element="ns:getMembraneDiffArrayResult"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMembraneDiffArrayResultResponse">
        <wsdl:part name="parameters" element="ns:getMembraneDiffArrayResultResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSDLToolServiceException">
        <wsdl:part name="parameters" element="ns:WSDLToolServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDiffViewTypeRequest">
        <wsdl:part name="parameters" element="ns:getDiffViewType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDiffViewTypeResponse">
        <wsdl:part name="parameters" element="ns:getDiffViewTypeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="WSDLToolServiceRegistryException">
        <wsdl:part name="parameters" element="ns:WSDLToolServiceRegistryException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMEXServiceRequest">
        <wsdl:part name="parameters" element="ns:addMEXService"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WSDLToolServicePortType">
        <wsdl:operation name="getMembraneDiffArrayResult">
            <wsdl:input message="ns:getMembraneDiffArrayResultRequest" wsaw:Action="urn:getMembraneDiffArrayResult"></wsdl:input>
            <wsdl:output message="ns:getMembraneDiffArrayResultResponse" wsaw:Action="urn:getMembraneDiffArrayResultResponse"></wsdl:output>
            <wsdl:fault message="ns:WSDLToolServiceException" name="WSDLToolServiceException" wsaw:Action="urn:getMembraneDiffArrayResultWSDLToolServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDiffViewType">
            <wsdl:input message="ns:getDiffViewTypeRequest" wsaw:Action="urn:getDiffViewType"></wsdl:input>
            <wsdl:output message="ns:getDiffViewTypeResponse" wsaw:Action="urn:getDiffViewTypeResponse"></wsdl:output>
            <wsdl:fault message="ns:WSDLToolServiceRegistryException" name="WSDLToolServiceRegistryException" wsaw:Action="urn:getDiffViewTypeWSDLToolServiceRegistryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMEXService">
            <wsdl:input message="ns:addMEXServiceRequest" wsaw:Action="urn:addMEXService"></wsdl:input>
            <wsdl:fault message="ns:WSDLToolServiceException" name="WSDLToolServiceException" wsaw:Action="urn:addMEXServiceWSDLToolServiceException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSDLToolServiceSoap11Binding" type="ns:WSDLToolServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getMembraneDiffArrayResult">
            <soap:operation soapAction="urn:getMembraneDiffArrayResult" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="WSDLToolServiceException">
                <soap:fault use="literal" name="WSDLToolServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDiffViewType">
            <soap:operation soapAction="urn:getDiffViewType" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="WSDLToolServiceRegistryException">
                <soap:fault use="literal" name="WSDLToolServiceRegistryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMEXService">
            <soap:operation soapAction="urn:addMEXService" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="WSDLToolServiceException">
                <soap:fault use="literal" name="WSDLToolServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSDLToolServiceSoap12Binding" type="ns:WSDLToolServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getMembraneDiffArrayResult">
            <soap12:operation soapAction="urn:getMembraneDiffArrayResult" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="WSDLToolServiceException">
                <soap12:fault use="literal" name="WSDLToolServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDiffViewType">
            <soap12:operation soapAction="urn:getDiffViewType" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="WSDLToolServiceRegistryException">
                <soap12:fault use="literal" name="WSDLToolServiceRegistryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMEXService">
            <soap12:operation soapAction="urn:addMEXService" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="WSDLToolServiceException">
                <soap12:fault use="literal" name="WSDLToolServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSDLToolServiceHttpBinding" type="ns:WSDLToolServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getMembraneDiffArrayResult">
            <http:operation location="getMembraneDiffArrayResult"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDiffViewType">
            <http:operation location="getDiffViewType"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMEXService">
            <http:operation location="addMEXService"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSDLToolService">
        <wsdl:port name="WSDLToolServiceHttpsSoap11Endpoint" binding="ns:WSDLToolServiceSoap11Binding">
            <soap:address location="https://10.100.5.12:9443/services/WSDLToolService.WSDLToolServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="WSDLToolServiceHttpsSoap12Endpoint" binding="ns:WSDLToolServiceSoap12Binding">
            <soap12:address location="https://10.100.5.12:9443/services/WSDLToolService.WSDLToolServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="WSDLToolServiceHttpsEndpoint" binding="ns:WSDLToolServiceHttpBinding">
            <http:address location="https://10.100.5.12:9443/services/WSDLToolService.WSDLToolServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
