components/governance/org.wso2.carbon.governance.lcm.ui/src/main/resources/LifeCycleManagementService/LifeCycleManagementService.wsdl

<!--
 ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.lcm.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2103="http://beans.lcm.governance.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.lcm.governance.carbon.wso2.org">
    <wsdl:documentation>LifeCycleManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2104="http://beans.lcm.governance.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.lcm.governance.carbon.wso2.org">
            <xs:import namespace="http://beans.lcm.governance.carbon.wso2.org/xsd" />
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateLifecycle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="configuration" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateLifecycleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setLifecyclesCollectionLocation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="parseConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configuration" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="parseConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLifecycleNameInUse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLifecycleNameInUseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecyclesCollectionLocation">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecyclesCollectionLocationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecycleList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecycleListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecycleConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecycleConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecycleBean">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecycleBeanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2103:LifecycleBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLifecycle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLifecycleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLifecycle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configuration" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLifecycleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.lcm.governance.carbon.wso2.org/xsd">
            <xs:complexType name="LifecycleBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="reflectionClassName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="states" nillable="true" type="ax2103:LifecycleStateBean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LifecycleStateBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="checklist" nillable="true" type="ax2103:ChecklistBean" />
                    <xs:element minOccurs="0" name="extensionsXml" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="js" nillable="true" type="ax2103:JSBean" />
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2103:PermissionBean" />
                    <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChecklistBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="JSBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="consoleFunctions" nillable="true" type="ax2103:ScriptFunctionBean" />
                    <xs:element minOccurs="0" name="consoleScript" nillable="true" type="ax2103:ScriptBean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serverFunctions" nillable="true" type="ax2103:ScriptFunctionBean" />
                    <xs:element minOccurs="0" name="serverScript" nillable="true" type="ax2103:ScriptBean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScriptFunctionBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScriptBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scripts" nillable="true" type="ax2103:ScriptElementBean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScriptElementBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="src" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PermissionBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="roles" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getLifecyclesCollectionLocationRequest">
        <wsdl:part name="parameters" element="ns:getLifecyclesCollectionLocation" />
    </wsdl:message>
    <wsdl:message name="getLifecyclesCollectionLocationResponse">
        <wsdl:part name="parameters" element="ns:getLifecyclesCollectionLocationResponse" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:message name="isLifecycleNameInUseRequest">
        <wsdl:part name="parameters" element="ns:isLifecycleNameInUse" />
    </wsdl:message>
    <wsdl:message name="isLifecycleNameInUseResponse">
        <wsdl:part name="parameters" element="ns:isLifecycleNameInUseResponse" />
    </wsdl:message>
    <wsdl:message name="getLifecycleListRequest">
        <wsdl:part name="parameters" element="ns:getLifecycleList" />
    </wsdl:message>
    <wsdl:message name="getLifecycleListResponse">
        <wsdl:part name="parameters" element="ns:getLifecycleListResponse" />
    </wsdl:message>
    <wsdl:message name="updateLifecycleRequest">
        <wsdl:part name="parameters" element="ns:updateLifecycle" />
    </wsdl:message>
    <wsdl:message name="updateLifecycleResponse">
        <wsdl:part name="parameters" element="ns:updateLifecycleResponse" />
    </wsdl:message>
    <wsdl:message name="setLifecyclesCollectionLocationRequest">
        <wsdl:part name="parameters" element="ns:setLifecyclesCollectionLocation" />
    </wsdl:message>
    <wsdl:message name="deleteLifecycleRequest">
        <wsdl:part name="parameters" element="ns:deleteLifecycle" />
    </wsdl:message>
    <wsdl:message name="deleteLifecycleResponse">
        <wsdl:part name="parameters" element="ns:deleteLifecycleResponse" />
    </wsdl:message>
    <wsdl:message name="getLifecycleConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getLifecycleConfiguration" />
    </wsdl:message>
    <wsdl:message name="getLifecycleConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getLifecycleConfigurationResponse" />
    </wsdl:message>
    <wsdl:message name="createLifecycleRequest">
        <wsdl:part name="parameters" element="ns:createLifecycle" />
    </wsdl:message>
    <wsdl:message name="createLifecycleResponse">
        <wsdl:part name="parameters" element="ns:createLifecycleResponse" />
    </wsdl:message>
    <wsdl:message name="getLifecycleBeanRequest">
        <wsdl:part name="parameters" element="ns:getLifecycleBean" />
    </wsdl:message>
    <wsdl:message name="getLifecycleBeanResponse">
        <wsdl:part name="parameters" element="ns:getLifecycleBeanResponse" />
    </wsdl:message>
    <wsdl:message name="parseConfigurationRequest">
        <wsdl:part name="parameters" element="ns:parseConfiguration" />
    </wsdl:message>
    <wsdl:message name="parseConfigurationResponse">
        <wsdl:part name="parameters" element="ns:parseConfigurationResponse" />
    </wsdl:message>
    <wsdl:portType name="LifeCycleManagementServicePortType">
        <wsdl:operation name="getLifecyclesCollectionLocation">
            <wsdl:input message="ns:getLifecyclesCollectionLocationRequest" wsaw:Action="urn:getLifecyclesCollectionLocation" />
            <wsdl:output message="ns:getLifecyclesCollectionLocationResponse" wsaw:Action="urn:getLifecyclesCollectionLocationResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getLifecyclesCollectionLocationException" />
        </wsdl:operation>
        <wsdl:operation name="isLifecycleNameInUse">
            <wsdl:input message="ns:isLifecycleNameInUseRequest" wsaw:Action="urn:isLifecycleNameInUse" />
            <wsdl:output message="ns:isLifecycleNameInUseResponse" wsaw:Action="urn:isLifecycleNameInUseResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:isLifecycleNameInUseException" />
        </wsdl:operation>
        <wsdl:operation name="getLifecycleList">
            <wsdl:input message="ns:getLifecycleListRequest" wsaw:Action="urn:getLifecycleList" />
            <wsdl:output message="ns:getLifecycleListResponse" wsaw:Action="urn:getLifecycleListResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getLifecycleListException" />
        </wsdl:operation>
        <wsdl:operation name="updateLifecycle">
            <wsdl:input message="ns:updateLifecycleRequest" wsaw:Action="urn:updateLifecycle" />
            <wsdl:output message="ns:updateLifecycleResponse" wsaw:Action="urn:updateLifecycleResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:updateLifecycleException" />
        </wsdl:operation>
        <wsdl:operation name="setLifecyclesCollectionLocation">
            <wsdl:input message="ns:setLifecyclesCollectionLocationRequest" wsaw:Action="urn:setLifecyclesCollectionLocation" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:setLifecyclesCollectionLocationException" />
        </wsdl:operation>
        <wsdl:operation name="deleteLifecycle">
            <wsdl:input message="ns:deleteLifecycleRequest" wsaw:Action="urn:deleteLifecycle" />
            <wsdl:output message="ns:deleteLifecycleResponse" wsaw:Action="urn:deleteLifecycleResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteLifecycleException" />
        </wsdl:operation>
        <wsdl:operation name="getLifecycleConfiguration">
            <wsdl:input message="ns:getLifecycleConfigurationRequest" wsaw:Action="urn:getLifecycleConfiguration" />
            <wsdl:output message="ns:getLifecycleConfigurationResponse" wsaw:Action="urn:getLifecycleConfigurationResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getLifecycleConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="createLifecycle">
            <wsdl:input message="ns:createLifecycleRequest" wsaw:Action="urn:createLifecycle" />
            <wsdl:output message="ns:createLifecycleResponse" wsaw:Action="urn:createLifecycleResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:createLifecycleException" />
        </wsdl:operation>
        <wsdl:operation name="getLifecycleBean">
            <wsdl:input message="ns:getLifecycleBeanRequest" wsaw:Action="urn:getLifecycleBean" />
            <wsdl:output message="ns:getLifecycleBeanResponse" wsaw:Action="urn:getLifecycleBeanResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getLifecycleBeanException" />
        </wsdl:operation>
        <wsdl:operation name="parseConfiguration">
            <wsdl:input message="ns:parseConfigurationRequest" wsaw:Action="urn:parseConfiguration" />
            <wsdl:output message="ns:parseConfigurationResponse" wsaw:Action="urn:parseConfigurationResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:parseConfigurationException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LifeCycleManagementServiceSoap11Binding" type="ns:LifeCycleManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getLifecyclesCollectionLocation">
            <soap:operation soapAction="urn:getLifecyclesCollectionLocation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isLifecycleNameInUse">
            <soap:operation soapAction="urn:isLifecycleNameInUse" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateLifecycle">
            <soap:operation soapAction="urn:updateLifecycle" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleList">
            <soap:operation soapAction="urn:getLifecycleList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setLifecyclesCollectionLocation">
            <soap:operation soapAction="urn:setLifecyclesCollectionLocation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteLifecycle">
            <soap:operation soapAction="urn:deleteLifecycle" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLifecycle">
            <soap:operation soapAction="urn:createLifecycle" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleConfiguration">
            <soap:operation soapAction="urn:getLifecycleConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleBean">
            <soap:operation soapAction="urn:getLifecycleBean" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="parseConfiguration">
            <soap:operation soapAction="urn:parseConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LifeCycleManagementServiceSoap12Binding" type="ns:LifeCycleManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getLifecyclesCollectionLocation">
            <soap12:operation soapAction="urn:getLifecyclesCollectionLocation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isLifecycleNameInUse">
            <soap12:operation soapAction="urn:isLifecycleNameInUse" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateLifecycle">
            <soap12:operation soapAction="urn:updateLifecycle" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleList">
            <soap12:operation soapAction="urn:getLifecycleList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setLifecyclesCollectionLocation">
            <soap12:operation soapAction="urn:setLifecyclesCollectionLocation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteLifecycle">
            <soap12:operation soapAction="urn:deleteLifecycle" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLifecycle">
            <soap12:operation soapAction="urn:createLifecycle" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleConfiguration">
            <soap12:operation soapAction="urn:getLifecycleConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleBean">
            <soap12:operation soapAction="urn:getLifecycleBean" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="parseConfiguration">
            <soap12:operation soapAction="urn:parseConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LifeCycleManagementServiceHttpBinding" type="ns:LifeCycleManagementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getLifecyclesCollectionLocation">
            <http:operation location="getLifecyclesCollectionLocation" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isLifecycleNameInUse">
            <http:operation location="isLifecycleNameInUse" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateLifecycle">
            <http:operation location="updateLifecycle" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleList">
            <http:operation location="getLifecycleList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setLifecyclesCollectionLocation">
            <http:operation location="setLifecyclesCollectionLocation" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteLifecycle">
            <http:operation location="deleteLifecycle" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLifecycle">
            <http:operation location="createLifecycle" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleConfiguration">
            <http:operation location="getLifecycleConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLifecycleBean">
            <http:operation location="getLifecycleBean" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="parseConfiguration">
            <http:operation location="parseConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LifeCycleManagementService">
        <wsdl:port name="LifeCycleManagementServiceHttpsSoap11Endpoint" binding="ns:LifeCycleManagementServiceSoap11Binding">
            <soap:address location="https://10.100.0.32:9443/services/LifeCycleManagementService.LifeCycleManagementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LifeCycleManagementServiceHttpsSoap12Endpoint" binding="ns:LifeCycleManagementServiceSoap12Binding">
            <soap12:address location="https://10.100.0.32:9443/services/LifeCycleManagementService.LifeCycleManagementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="LifeCycleManagementServiceHttpsEndpoint" binding="ns:LifeCycleManagementServiceHttpBinding">
            <http:address location="https://10.100.0.32:9443/services/LifeCycleManagementService.LifeCycleManagementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>