service-stubs/governance/org.wso2.carbon.governance.taxonomy.stub/src/main/resources/TaxonomyServices.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2191="http://beans.taxonomy.governance.carbon.wso2.org/xsd" xmlns:ns="http://services.taxonomy.governance.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2185="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2184="http://exception.api.governance.carbon.wso2.org/xsd" xmlns:ax2183="http://exception.taxonomy.governance.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2193="http://json.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2186="http://api.registry.carbon.wso2.org/xsd" targetNamespace="http://services.taxonomy.governance.carbon.wso2.org">
    <wsdl:documentation>TaxonomyServices</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2190="http://exception.taxonomy.governance.carbon.wso2.org/xsd" xmlns:ax2192="http://beans.taxonomy.governance.carbon.wso2.org/xsd" xmlns:ax2194="http://json.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.taxonomy.governance.carbon.wso2.org">
            <xs:import namespace="http://exception.taxonomy.governance.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.taxonomy.governance.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://json.org/xsd"/>
            <xs:element name="TaxonomyServicesException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TaxonomyServicesException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteTaxonomy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTaxonomyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTaxonomy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTaxonomyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTaxonomy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTaxonomyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTaxonomy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTaxonomyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTaxonomyList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTaxonomyListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TaxonomyServicesTaxonomyException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TaxonomyException" nillable="true" type="ax2190:TaxonomyException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="query">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="taxonomyQueryBean" nillable="true" type="ax2191:QueryBean"/>
                        <xs:element minOccurs="0" name="paginationBean" nillable="true" type="ax2191:PaginationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2194:JSONArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2187="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2187:RegistryException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.taxonomy.governance.carbon.wso2.org/xsd">
            <xs:complexType name="QueryBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="taxonomyName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginationBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endNode" type="xs:int"/>
                    <xs:element minOccurs="0" name="startNode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2189="http://exception.api.governance.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.taxonomy.governance.carbon.wso2.org/xsd">
            <xs:import namespace="http://exception.api.governance.carbon.wso2.org/xsd"/>
            <xs:complexType name="TaxonomyException">
                <xs:complexContent>
                    <xs:extension base="ax2184:GovernanceException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2188="http://exceptions.core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.api.governance.carbon.wso2.org/xsd">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="GovernanceException">
                <xs:complexContent>
                    <xs:extension base="ax2185:RegistryException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://json.org/xsd">
            <xs:complexType name="JSONArray">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteTaxonomyRequest">
        <wsdl:part name="parameters" element="ns:deleteTaxonomy"/>
    </wsdl:message>
    <wsdl:message name="deleteTaxonomyResponse">
        <wsdl:part name="parameters" element="ns:deleteTaxonomyResponse"/>
    </wsdl:message>
    <wsdl:message name="TaxonomyServicesException">
        <wsdl:part name="parameters" element="ns:TaxonomyServicesException"/>
    </wsdl:message>
    <wsdl:message name="queryRequest">
        <wsdl:part name="parameters" element="ns:query"/>
    </wsdl:message>
    <wsdl:message name="queryResponse">
        <wsdl:part name="parameters" element="ns:queryResponse"/>
    </wsdl:message>
    <wsdl:message name="TaxonomyServicesTaxonomyException">
        <wsdl:part name="parameters" element="ns:TaxonomyServicesTaxonomyException"/>
    </wsdl:message>
    <wsdl:message name="addTaxonomyRequest">
        <wsdl:part name="parameters" element="ns:addTaxonomy"/>
    </wsdl:message>
    <wsdl:message name="addTaxonomyResponse">
        <wsdl:part name="parameters" element="ns:addTaxonomyResponse"/>
    </wsdl:message>
    <wsdl:message name="getTaxonomyListRequest">
        <wsdl:part name="parameters" element="ns:getTaxonomyList"/>
    </wsdl:message>
    <wsdl:message name="getTaxonomyListResponse">
        <wsdl:part name="parameters" element="ns:getTaxonomyListResponse"/>
    </wsdl:message>
    <wsdl:message name="getTaxonomyRequest">
        <wsdl:part name="parameters" element="ns:getTaxonomy"/>
    </wsdl:message>
    <wsdl:message name="getTaxonomyResponse">
        <wsdl:part name="parameters" element="ns:getTaxonomyResponse"/>
    </wsdl:message>
    <wsdl:message name="updateTaxonomyRequest">
        <wsdl:part name="parameters" element="ns:updateTaxonomy"/>
    </wsdl:message>
    <wsdl:message name="updateTaxonomyResponse">
        <wsdl:part name="parameters" element="ns:updateTaxonomyResponse"/>
    </wsdl:message>
    <wsdl:portType name="TaxonomyServicesPortType">
        <wsdl:operation name="deleteTaxonomy">
            <wsdl:input message="ns:deleteTaxonomyRequest" wsaw:Action="urn:deleteTaxonomy"/>
            <wsdl:output message="ns:deleteTaxonomyResponse" wsaw:Action="urn:deleteTaxonomyResponse"/>
            <wsdl:fault message="ns:TaxonomyServicesException" name="TaxonomyServicesException" wsaw:Action="urn:deleteTaxonomyTaxonomyServicesException"/>
        </wsdl:operation>
        <wsdl:operation name="query">
            <wsdl:input message="ns:queryRequest" wsaw:Action="urn:query"/>
            <wsdl:output message="ns:queryResponse" wsaw:Action="urn:queryResponse"/>
            <wsdl:fault message="ns:TaxonomyServicesTaxonomyException" name="TaxonomyServicesTaxonomyException" wsaw:Action="urn:queryTaxonomyServicesTaxonomyException"/>
        </wsdl:operation>
        <wsdl:operation name="addTaxonomy">
            <wsdl:input message="ns:addTaxonomyRequest" wsaw:Action="urn:addTaxonomy"/>
            <wsdl:output message="ns:addTaxonomyResponse" wsaw:Action="urn:addTaxonomyResponse"/>
            <wsdl:fault message="ns:TaxonomyServicesException" name="TaxonomyServicesException" wsaw:Action="urn:addTaxonomyTaxonomyServicesException"/>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomyList">
            <wsdl:input message="ns:getTaxonomyListRequest" wsaw:Action="urn:getTaxonomyList"/>
            <wsdl:output message="ns:getTaxonomyListResponse" wsaw:Action="urn:getTaxonomyListResponse"/>
            <wsdl:fault message="ns:TaxonomyServicesException" name="TaxonomyServicesException" wsaw:Action="urn:getTaxonomyListTaxonomyServicesException"/>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomy">
            <wsdl:input message="ns:getTaxonomyRequest" wsaw:Action="urn:getTaxonomy"/>
            <wsdl:output message="ns:getTaxonomyResponse" wsaw:Action="urn:getTaxonomyResponse"/>
            <wsdl:fault message="ns:TaxonomyServicesException" name="TaxonomyServicesException" wsaw:Action="urn:getTaxonomyTaxonomyServicesException"/>
        </wsdl:operation>
        <wsdl:operation name="updateTaxonomy">
            <wsdl:input message="ns:updateTaxonomyRequest" wsaw:Action="urn:updateTaxonomy"/>
            <wsdl:output message="ns:updateTaxonomyResponse" wsaw:Action="urn:updateTaxonomyResponse"/>
            <wsdl:fault message="ns:TaxonomyServicesException" name="TaxonomyServicesException" wsaw:Action="urn:updateTaxonomyTaxonomyServicesException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TaxonomyServicesSoap11Binding" type="ns:TaxonomyServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteTaxonomy">
            <soap:operation soapAction="urn:deleteTaxonomy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="query">
            <soap:operation soapAction="urn:query" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesTaxonomyException">
                <soap:fault use="literal" name="TaxonomyServicesTaxonomyException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTaxonomy">
            <soap:operation soapAction="urn:addTaxonomy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomyList">
            <soap:operation soapAction="urn:getTaxonomyList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomy">
            <soap:operation soapAction="urn:getTaxonomy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTaxonomy">
            <soap:operation soapAction="urn:updateTaxonomy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TaxonomyServicesSoap12Binding" type="ns:TaxonomyServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteTaxonomy">
            <soap12:operation soapAction="urn:deleteTaxonomy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap12:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="query">
            <soap12:operation soapAction="urn:query" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesTaxonomyException">
                <soap12:fault use="literal" name="TaxonomyServicesTaxonomyException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTaxonomy">
            <soap12:operation soapAction="urn:addTaxonomy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap12:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomyList">
            <soap12:operation soapAction="urn:getTaxonomyList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap12:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomy">
            <soap12:operation soapAction="urn:getTaxonomy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap12:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTaxonomy">
            <soap12:operation soapAction="urn:updateTaxonomy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TaxonomyServicesException">
                <soap12:fault use="literal" name="TaxonomyServicesException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TaxonomyServicesHttpBinding" type="ns:TaxonomyServicesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteTaxonomy">
            <http:operation location="deleteTaxonomy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="query">
            <http:operation location="query"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTaxonomy">
            <http:operation location="addTaxonomy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomyList">
            <http:operation location="getTaxonomyList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTaxonomy">
            <http:operation location="getTaxonomy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTaxonomy">
            <http:operation location="updateTaxonomy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TaxonomyServices">
        <wsdl:port name="TaxonomyServicesHttpsSoap11Endpoint" binding="ns:TaxonomyServicesSoap11Binding">
            <soap:address location="https://172.17.0.1:9443/services/TaxonomyServices.TaxonomyServicesHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TaxonomyServicesHttpsSoap12Endpoint" binding="ns:TaxonomyServicesSoap12Binding">
            <soap12:address location="https://172.17.0.1:9443/services/TaxonomyServices.TaxonomyServicesHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TaxonomyServicesHttpsEndpoint" binding="ns:TaxonomyServicesHttpBinding">
            <http:address location="https://172.17.0.1:9443/services/TaxonomyServices.TaxonomyServicesHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>