service-stubs/governance/org.wso2.carbon.governance.sla.stub/src/main/resources/AddSLAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
 ~ Copyright (c) 2009-2011, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2115="http://beans.sla.governance.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.sla.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2112="http://api.registry.carbon.wso2.org/xsd" xmlns:ax2111="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.sla.governance.carbon.wso2.org">
    <wsdl:documentation>AddSLAService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2113="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2113:RegistryException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.sla.governance.carbon.wso2.org/xsd">
            <xs:complexType name="SLABean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="canDelete" nillable="true" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2116="http://beans.sla.governance.carbon.wso2.org/xsd" xmlns:ax2114="http://exceptions.core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.sla.governance.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.sla.governance.carbon.wso2.org/xsd"/>
            <xs:element name="RegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2114:RegistryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveSLAConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="update" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveSLAConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listSLA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listSLAResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2116:SLABean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSLAPathResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSLAConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getAvailableAspectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editSLA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="slaname" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editSLAResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="canChange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="canChangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSLA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSLAResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listSLARequest">
        <wsdl:part name="parameters" element="ns:listSLA"/>
    </wsdl:message>
    <wsdl:message name="listSLAResponse">
        <wsdl:part name="parameters" element="ns:listSLAResponse"/>
    </wsdl:message>
    <wsdl:message name="RegistryException">
        <wsdl:part name="parameters" element="ns:RegistryException"/>
    </wsdl:message>
    <wsdl:message name="getSLAPathRequest"/>
    <wsdl:message name="getSLAPathResponse">
        <wsdl:part name="parameters" element="ns:getSLAPathResponse"/>
    </wsdl:message>
    <wsdl:message name="getSLAConfigurationRequest"/>
    <wsdl:message name="getSLAConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getSLAConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="saveSLAConfigurationRequest">
        <wsdl:part name="parameters" element="ns:saveSLAConfiguration"/>
    </wsdl:message>
    <wsdl:message name="saveSLAConfigurationResponse">
        <wsdl:part name="parameters" element="ns:saveSLAConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="addSLARequest">
        <wsdl:part name="parameters" element="ns:addSLA"/>
    </wsdl:message>
    <wsdl:message name="addSLAResponse">
        <wsdl:part name="parameters" element="ns:addSLAResponse"/>
    </wsdl:message>
    <wsdl:message name="editSLARequest">
        <wsdl:part name="parameters" element="ns:editSLA"/>
    </wsdl:message>
    <wsdl:message name="editSLAResponse">
        <wsdl:part name="parameters" element="ns:editSLAResponse"/>
    </wsdl:message>
    <wsdl:message name="canChangeRequest">
        <wsdl:part name="parameters" element="ns:canChange"/>
    </wsdl:message>
    <wsdl:message name="canChangeResponse">
        <wsdl:part name="parameters" element="ns:canChangeResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:message name="getAvailableAspectsRequest"/>
    <wsdl:message name="getAvailableAspectsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableAspectsResponse"/>
    </wsdl:message>
    <wsdl:portType name="AddSLAServicePortType">
        <wsdl:operation name="listSLA">
            <wsdl:input message="ns:listSLARequest" wsaw:Action="urn:listSLA"/>
            <wsdl:output message="ns:listSLAResponse" wsaw:Action="urn:listSLAResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:listSLARegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="getSLAPath">
            <wsdl:input message="ns:getSLAPathRequest" wsaw:Action="urn:getSLAPath"/>
            <wsdl:output message="ns:getSLAPathResponse" wsaw:Action="urn:getSLAPathResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getSLAPathRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="getSLAConfiguration">
            <wsdl:input message="ns:getSLAConfigurationRequest" wsaw:Action="urn:getSLAConfiguration"/>
            <wsdl:output message="ns:getSLAConfigurationResponse" wsaw:Action="urn:getSLAConfigurationResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getSLAConfigurationRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="saveSLAConfiguration">
            <wsdl:input message="ns:saveSLAConfigurationRequest" wsaw:Action="urn:saveSLAConfiguration"/>
            <wsdl:output message="ns:saveSLAConfigurationResponse" wsaw:Action="urn:saveSLAConfigurationResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:saveSLAConfigurationRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="addSLA">
            <wsdl:input message="ns:addSLARequest" wsaw:Action="urn:addSLA"/>
            <wsdl:output message="ns:addSLAResponse" wsaw:Action="urn:addSLAResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:addSLARegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="editSLA">
            <wsdl:input message="ns:editSLARequest" wsaw:Action="urn:editSLA"/>
            <wsdl:output message="ns:editSLAResponse" wsaw:Action="urn:editSLAResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:editSLARegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <wsdl:input message="ns:canChangeRequest" wsaw:Action="urn:canChange"/>
            <wsdl:output message="ns:canChangeResponse" wsaw:Action="urn:canChangeResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:canChangeException"/>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <wsdl:input message="ns:getAvailableAspectsRequest" wsaw:Action="urn:getAvailableAspects"/>
            <wsdl:output message="ns:getAvailableAspectsResponse" wsaw:Action="urn:getAvailableAspectsResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getAvailableAspectsException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddSLAServiceSoap11Binding" type="ns:AddSLAServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listSLA">
            <soap:operation soapAction="urn:listSLA" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSLAPath">
            <soap:operation soapAction="urn:getSLAPath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSLAConfiguration">
            <soap:operation soapAction="urn:getSLAConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveSLAConfiguration">
            <soap:operation soapAction="urn:saveSLAConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editSLA">
            <soap:operation soapAction="urn:editSLA" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSLA">
            <soap:operation soapAction="urn:addSLA" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <soap:operation soapAction="urn:canChange" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <soap:operation soapAction="urn:getAvailableAspects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddSLAServiceSoap12Binding" type="ns:AddSLAServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listSLA">
            <soap12:operation soapAction="urn:listSLA" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSLAPath">
            <soap12:operation soapAction="urn:getSLAPath" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSLAConfiguration">
            <soap12:operation soapAction="urn:getSLAConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveSLAConfiguration">
            <soap12:operation soapAction="urn:saveSLAConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editSLA">
            <soap12:operation soapAction="urn:editSLA" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSLA">
            <soap12:operation soapAction="urn:addSLA" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <soap12:operation soapAction="urn:canChange" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <soap12:operation soapAction="urn:getAvailableAspects" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddSLAServiceHttpBinding" type="ns:AddSLAServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="listSLA">
            <http:operation location="listSLA"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSLAPath">
            <http:operation location="getSLAPath"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSLAConfiguration">
            <http:operation location="getSLAConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveSLAConfiguration">
            <http:operation location="saveSLAConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editSLA">
            <http:operation location="editSLA"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addSLA">
            <http:operation location="addSLA"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <http:operation location="canChange"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <http:operation location="getAvailableAspects"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddSLAService">
        <wsdl:port name="AddSLAServiceHttpsSoap11Endpoint" binding="ns:AddSLAServiceSoap11Binding">
            <soap:address location="https://10.0.0.11:9443/services/AddSLAService.AddSLAServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AddSLAServiceHttpsSoap12Endpoint" binding="ns:AddSLAServiceSoap12Binding">
            <soap12:address location="https://10.0.0.11:9443/services/AddSLAService.AddSLAServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AddSLAServiceHttpsEndpoint" binding="ns:AddSLAServiceHttpBinding">
            <http:address location="https://10.0.0.11:9443/services/AddSLAService.AddSLAServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>